<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERC20 Functional Specification Verifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app/basic.css"/>
    <style>
        .container{
            max-width:100%;
        }
    </style>

</head>
<body>
    <div id="root">
        <div class="App">
            <header class="App-header">
                <h1>ERC20 Function Verifier</h1>
                <h2>Enter the address of an ERC20 contract to check if it conforms to the standard</h2>
            </header>
            <div class="App-body">
                <form id="file-upload-form">
                    <div class="fileBox pb-2">
                        <label for="file1">Upload</label>
                        <input type="file" id="file1" name="file1">
                        <input class="upload-name1 upload" value="ERC20 Token Solidity Source" readonly><br>
                        <label for="file2">Upload</label>
                        <input type="file" id="file2" name="file2">
                        <input class="upload-name2 upload" value="Target Solidity Source" readonly><br>
                        <label for="file3">Upload</label>
                        <input type="file" id="file3" name="file3">
                        <input class="upload-name3 upload" value="Test Setting" readonly>
                        <button type="button" id="btn-file-upload" class="verify-button"> Verify </button>
                    </div>
                </form>
                <pre id="output" type="text/plain" class="text-md-left output"></pre>
                <p class="App-notes">
                    The contract source code must be verified on etherscan, and be compiled with Solidity v0.4 or v0.5. This page uses tinchoabbate's slither-scripts to check whether a contract is a valid ERC20 or not using Slither. The script does not verify that the functions found behave as expected. It just checks for matching signatures, return types, existence of custom modifiers, event emissions, among others. These scripts may have bugs, use them at your own risk.
                </p>
                <p class="App-notes">
                    Have any feedback? Share any thoughts in the OpenZeppelin forum.
                </p>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#btn-file-upload').on('click', function() {

            var fileName1 = $('#file1').val();
            var fileName2 = $('#file2').val();
            var fileName3 = $('#file3').val();
            fileName1 = fileName1.slice(fileName1.indexOf(".") + 1).toLowerCase();
            fileName2 = fileName2.slice(fileName2.indexOf(".") + 1).toLowerCase();
            fileName3 = fileName3.slice(fileName3.indexOf(".") + 1).toLowerCase();
            var extension = "sol"
            if (fileName1 != extension || fileName2 != extension) {
                alert("File Extension must be .sol");
                return;
            }
            extension = "js"
            if(fileName3 != extension){
                alert("File Extension must be .js");
                return;
            }
            console.log("file extension ended");
            var form = $('#file-upload-form')[0];
            var formData = new FormData(form);

            $('#btn-file-upload').text('Verifying...');
            $('#btn-file-upload').addClass('verifying-button');
            $.ajax({
                type: 'POST',
                url: '/',
                data: formData,
                processData: false,
                contentType: false,
                success : function(data){
                    $('#output').html(data);
                    $('#btn-file-upload').text('Verify');
                    $('#btn-file-upload').removeClass('verifying-button');
                },
                error : function(){
                    alert("Communication Failure");
                    $('#btn-file-upload').text('Verify');
                    $('#btn-file-upload').removeClass('verifying-button');
                }
            });
        });
        var files = ['#file1', '#file2', '#file3'];
        $.each(files, function(index, fileClass) {
            $(fileClass).on('change', function () {
                var cur = $(fileClass).val();
                $(".upload-name"+fileClass.charAt(fileClass.length-1)).val(cur);
            });
        });
    });
</script>

</html>